@mixin materialui-button {
  height: 48px;
  color: $color-text-highlight;
  background-color: $color-primary;
}

@mixin materialui-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form-input {
    margin-top: 20px;
    width: 100%;
    text-align: left;
  }

  .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
  }

  .submit-button {
    @include materialui-button;
    margin-top: 25px;
    width: 100%;
  }
}
